/*New guide style - Date created: April 2007 - Author: Donald Phillips */


#pagewidth {width: 90%; margin-left: 10px; xmargin-right: 10px; font-family:  Arial, Verdana, Helvetica, sans-serif;}
div#pagewidth h1 {margin-bottom:1em; font-size: 1.1em; }
div#pagewidth h2 {margin-bottom:1em; margin-top:2em; font-size: 1.1em; color:#cc0000}
div#pagewidth h3 {margin-bottom:1em; margin-top:2em; font-size: 1em; color:#000; font-weight:bold}
#subnav {font-weight: bold; color: #666633; font-size: 0.8em; margin-left: 0;}
#container {width: 70%; font-size:80%; float:left; }
.box {border:1px solid white; width: 45%; float:left}
#content {margin-left:1em; background-color: #fff; width: 95%; }
#content ul li {margin-bottom:1em;}
a, a:visited {color: #0033CC;	text-decoration: underline;}
a:hover {color: #cc0000; text-decoration: none;}
a.active {color: #0066CC;}
#rightNav {border-left: 1px solid #cacaca; width: 25%; float: right;font-size:80%; }
#rightNav p { font-weight:bold; margin:25px 0 0 15px;}
#rightNav ul { list-style-type: square; color:#000}
#rightNav ul li {margin-top:1.5em;}
.floatimgright {float:right; margin:0px 0 10px 10px; border:1px solid #666666}
.imgrightnoborder {float:right; margin:0px 0 10px 10px; border:0px}

div#footer	{background-color: #e8e1bb; margin-top:2.5em; width: 100%; text-align:center; font-family: Arial, Helvetica, sans-serif; font-size:80%;}
div#footer a {font-weight: bold; color:#000000; text-decoration: underline;}
div#footer a:hover {color:#cc0000; text-decoration: none;}

/*TAB STYLES*/
ul#tabsnav {clear:both; font-weight:bold; color:#666; margin:0 !important;list-style-type:none !important; line-height:1.5em; padding: 0 0 0 0 !important; border-bottom: solid 1px #cacaca; height:20px;}
ul#tabsnav li{list-style-type:none; float:left; margin:0 5px 0 0; padding:0 0 0 15px; background:url(/images/tabs/tab_off.jpg) transparent top left no-repeat; height:20px; line-height:1.5em; position: relative;  top: 1px;}
ul#tabsnav li a{ color:#000; text-decoration:none; background:url(/images/tabs/tab_off.jpg) transparent top right no-repeat; display:block; padding:0 10px 0 0; line-height:1.5em;}
ul#tabsnav li a:hover{color:#CC0000;}
ul#tabsnav li.tabon{background:url(/images/tabs/tab_on.jpg) transparent top left no-repeat;}
ul#tabsnav li.tabon a{background:url(/images/tabs/tab_on.jpg) transparent top right no-repeat;}
div#tabmain {background-color: white; padding: 10px 25px; border-bottom: solid 1px #cacaca; border-left: solid 1px #cacaca; border-right: solid 1px #cacaca;}