.content {
  padding: 1em; }
  .content h2 {
    display: inline-block; }

.card:hover {
  text-decoration: none;
  box-shadow: 0 4px 7px #ccc; }
.card .full a:hover {
  text-decoration: underline;
  box-shadow: none; }

.spacing-bottom {
  margin-bottom: 1.5em; }

.round-borders {
  border: solid 1px #ddd;
  border-radius: 4px; }

.inline-block {
  display: inline-block; }

.full-width {
  width: 100%; }

.shadow {
  box-shadow: 0 2px 5px #ddd; }

.white-background {
  background: #fff; }

.background-image {
  background: url("/img/tna-readers-screens-whats-on-01.jpg");
  background-size: cover;
  min-height: 202px; }

.card-single {
  background: #fff;
  padding: 1em; }

.clr:after {
  content: "";
  display: block;
  height: 0;
  clear: both;
  visibility: hidden; }

.relative {
  position: relative; }

.absolute {
  position: absolute; }

.overlay {
  background: rgba(0, 0, 0, 0.66);
  color: #ddd;
  padding: 1em; }

.overlay-container {
  position: relative;
  height: 202px; }
  .overlay-container .overlay {
    position: absolute;
    height: 4.5em;
    bottom: 0;
    left: 0;
    padding: 1em;
    right: 0;
    background: rgba(0, 0, 0, 0.66);
    color: #ddd; }
