/*
================================================================================
Reader screens template.
Author:        Robert Daoust, Craig Anderson
Created:        27th October 2009 
Updated:        10 May 2010
================================================================================
*/
/*
--------------------------------------------------------------------------------
                                  Reset css
--------------------------------------------------------------------------------
*/
html{color:#000;background:#eee;}body,div,dl,dt,dd,ul,ol,li,h1,h2,h3,h4,h5,h6,pre,code,form,fieldset,legend,input,textarea,p,blockquote,th,td{margin:0;padding:0;}table{border-collapse:collapse;border-spacing:0;}fieldset,img{border:0;}address,caption,cite,code,dfn,em,strong,th,var{font-style:normal;font-weight:normal;}li{list-style:none;}caption,th{text-align:left;}h1,h2,h3,h4,h5,h6{font-size:100%;font-weight:normal;}q:before,q:after{content:'';}abbr,acronym {border:0;font-variant:normal;}sup {vertical-align:text-top;}sub {vertical-align:text-bottom;}input,textarea,select{font-family:inherit;font-size:inherit;font-weight:inherit;}legend{color:#000;}
/*
--------------------------------------------------------------------------------
                                Pages styles
--------------------------------------------------------------------------------
*/
body { background: #eee fixed url(/images/global/gradient.jpg); font: 0.7em/100% Bliss, Verdana, Arial, Helvetica, sans-serif; min-height: 100%; position: absolute; width: 100%; }
/* For IE6 */
*html body { height: 100%; }
.bold, strong { font-weight: bold; } 
#wrapper, #reg-wrapper { margin: 0 auto; padding: 0; width: 960px; }
#content-wrapper { margin: 0 auto; padding: 0; width: 960px; }
#header { background: #000; margin: 0 auto; height: 45px; width: 1010px;  }
#header img { border: none; }
#header h1 { color: #FFF; font-size: 190%; font-weight:500; line-height: 110%; margin: 1px 0; padding-left: 26px; }
#header h1 a { color: #FFF; text-decoration: none; }
#header h1 a img { margin: 6px 0 0 -29px; }
#header h1 a:hover { text-decoration:underline !important; }
h2 { font: 1.5em/130% Bliss, Verdana, Arial, Helvetica, sans-serif bold; height: 25px; padding: 2px 0 2px 9px; font-weight:500; background: url(/images/global/h2-bkgd.jpg) #cdcdcd repeat-x left top; margin: 0px;}    
h3 { font: 1.4em/140% Bliss, Verdana, Arial, Helvetica,sans-serif bold;  padding:20px 0 2px 10px; font-weight:500; margin: 0px;}
h4 { color: #333; font: 1.2em/120% Bliss, Verdana, Arial, Helvetica,sans-serif bold;  padding:10px 0 2px 10px; font-weight:700; margin: 0px;}
p { font-size: 1.1em; padding: 7px 9px 0 9px; line-height: 130%; }
#right-block p {margin-top: 115px;}
a {color: #000;}
a:hover {text-decoration: none!important;}
div.clearing { clear: both; }

/*
--------------------------------------------------------------------------------
                               Div styles
--------------------------------------------------------------------------------
*/

#message-block { clear: both; border: dotted #BFBFBF 1px; height: 36px; background: rgb(252, 228, 92); margin-top: 6px; margin-right: 0px;  text-align: center;}
#message-block p {margin: 3px 0 0 0;}
#left-block, #right-block, #centre-top, #centre-bottom { background: #FFF; width: 312px; border:dotted #BFBFBF 1px; border-top:none; }
#left-block {background-image: url(../images/help.gif); background-repeat: no-repeat; background-position:center bottom;}
#centre-block { margin: 0 10px 0 8px }
#left-block, #right-block, #centre-block { float: left; position: relative; }
#centre-bottom { margin-top: 6px; padding-bottom: 6px; }
#footer { clear: both; border: dotted #BFBFBF 1px; height: 120px; background: #fff; margin-top: 6px; margin-right: 1px; }
#footer p {width: 580px; margin: 3px 0 0 0; }
#footer img {float: right; border:none !important; margin: 4px 9px 0 0;}
/*
--------------------------------------------------------------------------------
                               list/link styles
--------------------------------------------------------------------------------
*/
#wrapper ul {margin: 0 9px}
#wrapper ul li {padding: 7px 0; display: inline-block; line-height: 140%; width: 100%; border-bottom:#BFBFBF 1px dotted; }
#right-block ul li { display: block; border-bottom: none; }
#wrapper ul.no-dividers, ul li.no-dividers { border-bottom: 0 !important; }
#wrapper ul.readers li, ul li.readers  {padding:4px 0 5px 4px; border-bottom:none; }
#wrapper ul li a { color: #000; font-size: 1.5em; font-weight: normal; text-decoration: none; }
#wrapper ul li a:hover { text-decoration: underline !important; }
.red-arrow {background: url(/images/global/arrow-red-large.gif) right no-repeat; display: inline-block; padding:5px 4px 7px 4px; height:0px; width:0px;}
/* For IE6 */
*html .red-arrow { display: inline-block; margin-top: 2px; padding: 1px 6px 1px 6px; margin-bottom: 0; }
img {float: left; margin:0 7px 0 0; border:#eee 1px solid;}
img.centre {margin-top: 10px}
.fww img {margin: 5px; border: none; float: none; }
.fww {position: absolute; bottom: 0px; height: 165px; display: block;}
#footer p { float: left; font-size: 95%;  }
#footer a {color: #000; text-decoration:underline;}
#footer a:hover {color: #000; text-decoration:none;}
/*
--------------------------------------------------------------------------------
                               Reader reg styles
--------------------------------------------------------------------------------
*/
#reg-block { float: left; background: #EEE; border:dotted #BFBFBF 1px; border-top:none; margin: 0; padding: 0 0 10px 0; width: 958px; }
#prime-block {float: left; background: #FFF; border:dotted #BFBFBF 1px; display: inline; width: 550px; padding: 0 0 20px 0; margin:10px 10px 0 10px;}
#supp-block {float: left; background: #FFF; border:dotted #BFBFBF 1px; display: inline; width: 374px; padding: 0 0 20px 0; margin: 10px 10px 0 0}
#reg-wrapper #reg-block p { line-height: 140%; padding: 10px 12px 0 12px; }
#reg-wrapper #reg-block li { font-size: 110%; line-height: 140%; }
#reg-wrapper #reg-block ul li {list-style: outside; border: none; padding:0 0 0 5px; margin: 5px 0px 0 28px;}
#reg-wrapper #reg-block ol li {list-style: outside; border: none; padding:0; margin: 10px 0px 5px 35px; list-style-type: decimal;}
#reg-wrapper #reg-block ul.disc li, #reg-wrapper #supp-block ul.disc li{list-style-type: disc;  border: none;}
#reg-wrapper #reg-block ul.pic li {margin:20px 0 35px 10px; list-style-type: none; color: #000;}
#reg-wrapper #reg-block ul.link li {list-style-type: none; color: #000; padding: 0!important; margin: 10px 0px 5px 12px;!important;}
#reg-wrapper #reg-block ul.pic li a, #reg-wrapper #reg-block ul.link li a  {text-decoration: none;}
#reg-wrapper #reg-block ul.pic li a:hover, #reg-wrapper #reg-block ul.link li a:hover {text-decoration: underline !important;}
#reg-wrapper img {border:#eee 1px solid;}