.content h2, .inline-block {
    display: inline-block
}

.content {
    padding: 1em
}

.card:hover {
    text-decoration: none;
    box-shadow: 0 4px 7px #ccc
}

.card .full a:hover, .feedback:hover, .flex-row .card ul a:hover, .flex-row .col-card-6 .entry-content a:hover {
    text-decoration: underline
}

.card .full a:hover {
    box-shadow: none
}

.spacing-bottom {
    margin-bottom: 1.5em
}

.spacing-top {
    margin-top: 1.5em
}
.round-borders {
    border: 1px solid #ddd;
    border-radius: 4px
}

.clr:after, a.focus-banner {
    display: block
}

.full-width {
    width: 100%
}

.shadow {
    box-shadow: 0 2px 5px #ddd
}

.white-background {
    background: #fff
}

.background-image {
    background: url(/img/new-season-banner.jpg) top center no-repeat;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    min-height: 350px
}

.card-single {
    background: #fff;
    padding: 1em
}

a.focus-banner .overlay-container:hover .overlay, a.focus-banner:focus .overlay-container .overlay {
    background: #008484;
    transition: .5s
}

.clr:after {
    content: '';
    height: 0;
    clear: both;
    visibility: hidden
}

.relative {
    position: relative
}

.absolute {
    position: absolute
}

a.focus-banner:focus {
    outline: #ebab00 solid 3px
}

a.focus-banner .overlay-container {
    position: relative;
    height: 350px
}

a.focus-banner .overlay-container .overlay {
    position: absolute;
    height: 4.5em;
    bottom: 0;
    left: 0;
    padding: 1em;
    right: 0;
    background: rgba(0, 0, 0, .66);
    color: #ddd;
    border-top: 1px solid #fff;
    transition: .5s
}

a.focus-banner .overlay-container .overlay h2 {
    margin: 0;
    color: #fff
}

.flex-row .col-card-6, .flex-row .col-card-8 {
    display: -webkit-box;
    display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    padding-left: 15px;
    padding-right: 15px;
    margin-bottom: 1.5em
}

.flex-row .col-card-8 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 66.6666%;
    -ms-flex: 0 0 66.6666%;
    flex: 0 0 66.6666%;
    max-width: 66.6666%;
    min-width: 66.6666%
}

@media (max-width: 768px) {
    .flex-row .col-card-8 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }
}

.flex-row .col-card-6 {
    -webkit-box-flex: 0;
    -webkit-flex: 0 0 50%;
    -ms-flex: 0 0 50%;
    flex: 0 0 50%;
    max-width: 50%;
    min-width: 50%
}

.flex-row .card .entry-content > a:hover {
    box-shadow: none
}

.flex-row .card .half {
    width: 50%
}


.flex-row .card ul a:hover {
    box-shadow: none
}

.feedback {
    background-color: #008484;
    -ms-transform: rotate(-90deg);
    -webkit-transform: rotate(-90deg);
    transform: rotate(-90deg);
    color: #fff;
    text-align: center;
    padding: .5em 1em;
    top: 50%;
    left: -100px;
    position: fixed;
    font-family: 'Open Sans', arial, serif
}

.feedback:hover {
    background-color: #fce45c;
    color: #000
}

.feedback span {
    padding: 1em
}

.no-margin {
    margin: 0
}

#header {
    background-color: #222 \9
}

#header h1 {
    margin-top: 0;
    margin-bottom: 0;
    color: #fff \9
}

#header img {
    max-width: 347px
}

.row h2.center-inline {
    margin-right: .5em
}

.row:last-of-type small {
    display: block
}

/* Census styles */

.title{
    font-family: Bitter, "Open Sans", arial, serif;
}

.promo-block{
    display: block;
    height:auto;
    min-height: 250px;
}
.fmp{
    color:#fff;
    background-image: url("/img/fmp-1921-census-bg.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-color: #242048;
    position: relative;
}
.fmp-button{

    background-color: #e6716e;
    color:#242048;
    padding: 7px 10px 7px 10px;
    border-radius: 5em;
    margin-top: 100px;
  display: block;
    text-align: center;
}
.fmp-button:hover{
    color:#242048;
    text-decoration: underline;
}
.fmp-logo{
    margin-top: 70px;
    display: block;
    width: 100%;
    max-width: 200px;
    height: auto;
}
.tna-link{
    padding: 20px 0px 10px 0px;
    display: block;
    font-family: Bitter, "Open Sans", arial, serif;
    font-size: 1.1em;
    color: #000;
}

.tna-link:hover{
    color: #000;
    text-decoration: underline;
}
.twenties{
    background-color: #fad3d4;
}
.container-wide{
    width:100% !important;
    background-color: #fff;

}
.twenties-brand{

    background-color: #e61e6e;
}

.twenties-brand .title{
    color:#fff;
}

.census-toggle{
    color:#fff !important;
    background-color: #222222;
    padding:5px;
}



@media screen and (max-width: 1024px) {
    .flex-row .col-card-6 {
        -webkit-box-flex: 0;
        -webkit-flex: 0 0 100%;
        -ms-flex: 0 0 100%;
        flex: 0 0 100%;
        max-width: 100%
    }

    .flex-row .card .half {
        width: 100%
    }

    .tna-20s-hero{
        margin:auto;
        display: block;
        padding-top:10px;
    }
    .twenties{
        text-align: center;
    }

    .fmp-logo {
        position: relative;
        top: 30px;
        margin: auto;


    }
    .fmp-button{
        text-align: center;
        display: block;
    }
    .census-toggle{
        display: block;
        text-align: center;
        margin-bottom: 10px;
    }
}