body {
    background-color: #fff !important;
}
main {
    margin-bottom: 1.5em;
}
section {
    padding-top: 1px;
}
header .icon {
    margin-top: 20px;
}
.examples {
    position: relative;
    padding: 1.6em 1em;
    margin: 0 0 1.5em;
    background-color: #fff;
    border: solid 1px #ddd;
    border-radius: 4px;
    -webkit-box-shadow: none;
    box-shadow: none;
}
.dark {
    background-color: #666;
}
.cf:before,
.cf:after {
    content: " "; /* 1 */
    display: table; /* 2 */
}
.cf:after {
    clear: both;
}
.sidebar {
    top: 1.5em;
    margin: 1.5em 0;
}
@media (min-width: 992px) {
    .sidebar {
        position: -webkit-sticky !important;
        position: sticky !important;
    }
}
.sidebar ul.no-bullet {
    padding-left: 0;
}
.sidebar ul.no-bullet li {
    padding: 0 !important;
}
.sidebar ul.no-bullet a {
    background-color: #f3f3f3;
    padding: 10px;
    display: block;
}
ul.colours li {
    padding-left: 1em !important;
}
ul.colours  {
    padding-left: 0 !important;
    margin: 0 !important;
}