
.button {
  background-color: $tna_teal;
  color: #fff;
  padding: 0.5em;
  display: inline-block;
  min-width: 24px;
  text-align: center;
}

.button:hover {
  background-color: $tna_yellow;
  color: #000;
  text-decoration: underline;
}

.secondary {
  background-color: $tna_mid;
}

.tertiary {
  background-color: transparent;
  color: $tna_link_col;
}

.ghost {
  background-color: transparent;
  color: #fff;
  border: solid 1px #fff;
  -o-transition: .5s;
  -ms-transition: .5s;
  -moz-transition: .5s;
  -webkit-transition: .5s;
  transition: .5s;
}

.ghost:hover {
  background-color: $tna_teal;
  color: #fff;
}
