/* TNA header styles */

header {
  position: relative;
  background-color: $tna_dark;
  color: $tna_white;
  padding: 0.7em 3px 7px 3px;
  overflow: hidden;
  #skip-to-main-content {
    position: absolute;
    top: -30px;
  }
}
