/* TNA fonts */
$tna_body_font: 'Open Sans', arial, sans-serif;
$tna_heading_font: 'Bitter', 'Open Sans', arial, serif;
$tna_quote_font: 'MS Serif', 'New York', serif;

/* TNA colours */
$tna_red: #cb0d07;
$tna_teal: #008484;
$tna_blue: #405480;
$tna_yellow: #fce45c;
$tna_yellow_dark: #ebab00;
$tna_light: #eee;
$tna_mid: #666;
$tna_dark: #222;
$tna_link_col: #2A5DB0;
$tna_white: #fff;
$tna_well: #f3f3f3;

/* TNA Icons/Images */
$tna_icon_24_link:url('../img/icon-24-heading-link.png');
$tna_dot_grey:url('../img/dot-grey.png');
$tna_heading_flourish:url('../img/heading-flourish.png') no-repeat bottom left;
$tna_icon_envelope:url('../img/icon-envelope.png');
$tna_icon_rss:url('../img/icon-rss.png');
$tna_icon_facebook:url('../img/icon-social-facebook.png');
$tna_icon_flickr:url('../img/icon-social-flickr.png');
$tna_icon_twitter:url('../img/icon-social-twitter.png');
$tna_icon_youtube:url('../img/icon-social-youtube-play.png');
$tna_icon_calendar:url(../img/icon-calendar.svg);
$tna_logo_gov_uk:url('../img/logo-gov-uk.png');
$tna_logo_ogl:url('../img/logo-ogl.png');
$tna_logo_tna:url('../img/logo-tna-white.png');
$tna_footer_bg:url('../img/footer-background.png');
$tna_list_bullet:url('../img/list-bullet.png');
$tna_list_link_bullet:url('../img/list-link-bullet.png');
