$bitter-local: bitter-local;
/*
* === FONTS ===
*/
@font-face {
  font-family: bitter-local;
  src: url('../fonts/Bitter-Regular.otf')
  format('opentype');
}

@font-face {
  font-family: bitter-italic-local;
  src: url('../fonts/Bitter-Italic.otf')
  format('opentype');
}

@font-face {
  font-family: open-sans-local;
  src: url('../fonts/OpenSans-Regular.ttf')
  format('truetype');
}

body {
  font-family: "open-sans-local", arial, sans-serif;
}

h1, h2, h3, h4 {
  font-family: $bitter-local, arial, sans-serif;
}