.card {
  background: #fff;
  clear: both;
}
.col-card-8 {
  max-width: 61%!important;
  min-width: 61%!important;
  float: left;
}

.col-card-4 {
  float: left;
}

.left {
  float:left;
  max-width: 30.58%!important;
  min-width: 30.58%!important;
  display: block;
  overflow: hidden;
}

.row {
  margin-bottom: 1em;
}

.full {
  li {
    float: none;
    display: block;
  }
}

header {

  #header {
    background-color: #222;

    div {
      float: left;
      width: 550px;
      overflow: hidden;
    }
  }
}
.background-image {
  filter: progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/tna-readers-screens-whats-on-01.jpg', sizingMethod='scale');
  -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='/img/tna-readers-screens-whats-on-01.jpg', sizingMethod='scale')";
}
.overlay {
  background-color: #222;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";/* IE 8 */
  filter: alpha(opacity=85);/* IE 5-7 */

  a {
    z-index: 100;
    background-color: #222;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";/* IE 8 */
    filter: alpha(opacity=100);/* IE 5-7 */
  }
}

.last {
  > div {
    max-width: 47%!important;
    min-width: 47%!important;
    float: left;
  }
}

.reader-registration {
  .col-md-8 {
    max-width: 60%!important;
    min-width: 50%!important;
    float: left!important;
    overflow: hidden;
  }
  .col-md-4 {
    max-width: 30%!important;
    min-width: 30%!important;
    float: left!important;
    overflow: hidden;
  }
  .full, .child {
    float: none!important;
    display: block;
  }
}