.card {
  background: #fff;
  clear: both;
}
.col-card-8 {
  max-width: 61%!important;
  min-width: 61%!important;
  float: left;
}

.col-card-4 {
  float: left;
}

.left {
  float:left;
  max-width: 30.58%!important;
  min-width: 30.58%!important;
  display: block;
  overflow: hidden;
}

.row {
  margin-bottom: 1em;
}

.full {
  li {
    float: none;
    display: block;
  }
}

header {

  #header {
    background-color: #222;

    div {
      float: left;
      width: 550px;
      overflow: hidden;
    }
  }
}

.overlay {
  background-color: #222;
  -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=85)";/* IE 8 */
  filter: alpha(opacity=85);/* IE 5-7 */

  a {
    z-index: 100;
    background-color: #222;
    -ms-filter: "progid:DXImageTransform.Microsoft.Alpha(Opacity=100)";/* IE 8 */
    filter: alpha(opacity=100);/* IE 5-7 */
  }
}

.last {
  > div {
    max-width: 47%!important;
    min-width: 47%!important;
    //border: 2px solid red;
    float: left;
  }
}