.full {
  li {
    float: none!important;
    padding-bottom: 6px;
  }
}

.entry-content {
  .child {
    margin-bottom: 20px;
    overflow: hidden;

    li {
      float: none!important;
      padding-bottom: 6px;
    }
  }
}

.feedback {
  filter: progid:DXImageTransform.Microsoft.BasicImage(rotation=3);
  //background: url("../img/feedback.png") no-repeat top;
  //background-color: $tna_teal;
  background-size: 80px 60px;
  span {
    display: none;
  }
}