h2 Document ordering
p With a reader's ticket you can order original documents to view in the reading rooms.
ul.full
    li: a(href='reader-registration.html' onclick='dcsMultiTrack("DCS.dcsuri","/readers/","WT.ti","Do I need a readers ticket?","WT.cg_n","Readers homepage","WT.dl","0");') Do I need a reader's ticket?
    li: a(href='http://public.prologon.web.local/Entrance/default.asp' onclick='dcsMultiTrack("DCS.dcsuri","/readers/","WT.ti","Order documents","WT.cg_n","Readers homepage","WT.dl","0");' target='_blank') Order documents
    li: a(href='http://public.doris.web.local/currord/default.aspx' target='_blank' onclick='dcsMultiTrack("DCS.dcsuri","/readers/","WT.ti","Check current orders","WT.cg_n","Readers homepage","WT.dl","0");') Check current orders
    li: a(href='http://doris.web.local/elsa/public/document-reservation-logon.asp' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;Reserve for another day&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);' target='_blank') Reserve items for another day
    li: a(href='http://www.nationalarchives.gov.uk/about/visit-us/researching-here/ordering-documents-in-advance-or-in-bulk/' target='_blank' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;Order documents in advance&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);') Order documents for next time