a(href='http://www.nationalarchives.gov.uk/about/visit-us/whats-on/events/' role='button' target='_blank').focus-banner
    div.shadow.background-image
            div.overlay-container
                div.overlay.text-right
                    h2 Find out what's on at The National Archives