div.shadow.background-image
    div.overlay-container
        div.overlay.text-right
            a(href='http://www.nationalarchives.gov.uk/about/visit-us/whats-on/events/' role='button' target='_blank').button.ghost Find out what's on at The National Archives