header.spacing-bottom
    div.container
        div.row#header
            div.col-md-6
                a(href='http://www.nationalarchives.gov.uk' target='_blank').visible-lg.visible-md.visible-sm
                    img(src='img/logo-white.png').img-responsive
            div.col-md-6.text-right
                h1 Reading rooms