div.notification-banner
    div.container
        div.row
            div.col-md-12
                div.notice
                    strong.title BETA
                    p This is a new service - your <a href="http://www.smartsurvey.co.uk/s/BG051/" target="_blank" title="Link opens in a new window">feedback</a> will help us improve it.
