div.notification-banner
    div.container
        div.row
            div.col-md-12
                div.notice
                    strong.title BETA
                    p <strong>This is a new service</strong> - your <a href="http://www.smartsurvey.co.uk/s/BG051/" target="_blank">feedback</a> will help us improve it.
