<!--[if lt IE 10]>
script(src="js/js-library/jquery-1.9.0.min.js")
script(src="js/ie.js")
<![endif]-->

script(src='js/js-library/webtrends.js' type='text/javascript' language='javascript')
script(type='text/javascript').
    var _tag = new WebTrends();
    _tag.dcsGetId();
    _tag.dcsCollect();