h2 Useful links
ul.child
    li: a(href='http://www.nationalarchives.gov.uk/' target='_blank' title='Link opens in a new window') The National Archives
    li: a(href='https://www.ancestry.co.uk/' target='_blank' title='Link opens in a new window') Ancestry
    li: a(href='https://www.findmypast.co.uk/' target='_blank' title='Link opens in a new window') Find my past
    li: a(href='https://www.freebmd.org.uk/' target='_blank' title='Link opens in a new window') FreeBMD
    li: a(href='https://www.thegazette.co.uk/' target='_blank' title='Link opens in a new window') The Gazette
    li: a(href='http://www.nationalarchives.gov.uk/labs/valuation-office-map-finder/' target='_blank' title='Link opens in a new window') Valuation Office map finder
    li: a(href='http://tna.koha-ptfs.co.uk/' target='_blank' title='Link opens in a new window') Library
    li: a(href='http://tnacufts.koha-ptfs.co.uk/CJDB/TNA/browse' target='_blank' title='Link opens in a new window') eLibrary
    li: a(href='https://www.thegenealogist.co.uk/' target='_blank' title='Link opens in a new window') The Genealogist