doctype html
html(lang="en")
    head
        title The National Archives reading rooms

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width", initial-scale="1")
        meta(name="description" content="The National Archives reading rooms")
        meta(name="author" content="The National Archives")

        <!--[if lt IE 10]>
        link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Open+Sans')
        link(rel='stylesheet' type='text/css' href='https://fonts.googleapis.com/css?family=Bitter')
        <![endif]-->

        link(rel="stylesheet" id="tna-google-fonts"
        href="https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%2C400italic%2C700italic%7CBitter&#038;ver=4.4.14"
        type="text/css" media="all")
        link(rel="stylesheet" href="css/tna-base.css")
        link(rel="stylesheet" href="css/toolkit.css")
        link(rel="stylesheet" href="css/reading-rooms.css")


        <!--[if lt IE 10]>
        link(rel="stylesheet" type="text/css" href="css/ie.css")
        <![endif]-->

        <!--[if IE 8]>
        link(rel="stylesheet" type="text/css" href="css/ie8.css")
        <![endif]-->

        <!--[if IE 7]>
        link(rel="stylesheet" type="text/css" href="css/ie7.css")
        <![endif]-->

        link(rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/favicon.ico")
        link(rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico")

        <!--[if lt IE 10]>
        script(src="js/js-library/html5shiv.js")
        script(src="js/js/js-library/respond.min.js")
        <![endif]-->

    body.hue-grey-lighter
        header.spacing-bottom
            div.container
                div.row#header
                    div.col-md-6
                        div.icon.icon-logo-tna
                    div.col-md-6.text-right
                        h1 Reading rooms

        main
            div.container
                div.row.spacing-bottom
                    div.col-md-12
                        div.shadow.hue-grey-light.content
                            div.entry-content.text-center
                                h2.center-inline Unfamiliar with the archives?
                                a.button.no-margin(href="http://www.nationalarchives.gov.uk/help-with-your-research/start-here/", role="button" target='_blank') Start here

                div.row
                    div.col-md-12
                        div.cards
                            div.flex-row.equal-heights
                                div.col-card-4.left.ie
                                    div.card
                                        div.entry-content.clr
                                            h2 Document ordering
                                            p With a reader's ticket you can order original documents to view in the reading rooms.
                                            ul.full
                                                li: a(href='reader-registration.html' onclick='dcsMultiTrack("DCS.dcsuri","/readers/","WT.ti","Do I need a readers ticket?","WT.cg_n","Readers homepage","WT.dl","0");') Do I need a reader's ticket?
                                                li: a(href='http://prologon.web.local/Entrance/default.asp' onclick='dcsMultiTrack("DCS.dcsuri","/readers/","WT.ti","Order documents","WT.cg_n","Readers homepage","WT.dl","0");' target='_blank') Order documents
                                                li: a(href='http://doris.web.local/currord/default.aspx' target='_blank' onclick='dcsMultiTrack("DCS.dcsuri","/readers/","WT.ti","Check current orders","WT.cg_n","Readers homepage","WT.dl","0");') Check current orders
                                                li: a(href='http://doris.web.local/elsa/public/document-reservation-logon.asp' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;Reserve for another day&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);' target='_blank') Reserve items for another day
                                                li: a(href='http://www.nationalarchives.gov.uk/about/visit-us/researching-here/ordering-documents-in-advance-or-in-bulk/' target='_blank' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;Order documents in advance&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);') Order documents for next time

                                div.col-card-4.left.ie
                                    div.card
                                        div.entry-content.clr
                                            h2 Online records
                                            p Over 5% of The National Archives' records have so far been digitised and we are continuing to put records online.
                                            ul.full
                                                li: a(href='http://www.findmypast.co.uk/1939register' target='_blank' title='Link opens in a new window' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;1939 Register&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);') 1939 register
                                                li: a(href='http://www.nationalarchives.gov.uk/help-with-your-research/research-guides/census-records/#3-how-to-access-the-censuses' target='_blank' title='Link opens in a new window' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;Census records&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);') Census records
                                                li: a(href='http://www.nationalarchives.gov.uk/first-world-war/centenary-digitised-records/' title='Link opens in a new window' target='_blank' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;First World War&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);') First World War
                                                li: a(href='http://www.nationalarchives.gov.uk/cabinetpapers/' target='_blank' title='Link opens in a new window' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;Cabinet papers&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);') Cabinet papers
                                                li: a(href='http://www.nationalarchives.gov.uk/help-with-your-research/research-guides/recommendations-military-honours-awards-1935-1990/' target='_blank' title='Link opens in a new window' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;Military honours&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);') Military honours and awards 1935-1990

                                div.col-card-4.left.ie
                                    div.card
                                        div.entry-content.clr
                                            h2 Help with your research
                                            p Our research guides can help you uncover the history of a place, a person or explore a particular historical subject.
                                            ul.full
                                                li: a(href='http://www.nationalarchives.gov.uk/help-with-your-research/research-guides/?research-category=family-history' target='_black' title='Link opens in a new window' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;Find a research guide&quot;,&quot;WT.cg_n&quot;,&quot;Family history&quot;,&quot;WT.dl&quot;,&quot;0&quot;);') Family history
                                                li: a(href='http://www.nationalarchives.gov.uk/help-with-your-research/#find-a-research-guide' title='Link opens in a new window' target='_blank' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;Find a research guide&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);') Find a research guide
                                                li: a(href='http://www.nationalarchives.gov.uk/help-with-your-research/research-guides-keywords/' target='_blank' title='Link opens in a new window' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;A-Z index&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);' ) A-Z index
                                                li: a(href='http://www.nationalarchives.gov.uk/help-with-your-research/video-guides/' target='_blank' title='Link opens in a new window' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;Video guides&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);') Video guides
                                                li: a(href='http://www.nationalarchives.gov.uk/help-with-your-research/#other-research-tools' target='_blank' title='Link opens in a new window' onclick='dcsMultiTrack(&quot;DCS.dcsuri&quot;,&quot;/readers/&quot;,&quot;WT.ti&quot;,&quot;Other research tools&quot;,&quot;WT.cg_n&quot;,&quot;Readers homepage&quot;,&quot;WT.dl&quot;,&quot;0&quot;);') Other research tools

                div.row
                    div.col-md-12
                        div.cards
                            div.flex-row.equal-heights.ie
                                div.col-card-8
                                    div.card
                                        div.entry-content
                                            h2 Useful links
                                            ul.child
                                                li: a(href='https://www.ancestry.co.uk/' target='_blank' title='Link opens in a new window') Ancestry
                                                li: a(href='https://www.findmypast.co.uk/' target='_blank' title='Link opens in a new window') Find my past
                                                li: a(href='https://www.freebmd.org.uk/' target='_blank' title='Link opens in a new window') FreeBMD
                                                li: a(href='http://discovery.nationalarchives.gov.uk/' target='_blank' title='Link opens in a new window') Our catalogue
                                                li: a(href='https://www.thegazette.co.uk/' target='_blank' title='Link opens in a new window') The Gazette
                                                li: a(href='http://www.nationalarchives.gov.uk/labs/valuation-office-map-finder/' target='_blank' title='Link opens in a new window') Valuation Office map maker
                                                li: a(href='http://tna.koha-ptfs.co.uk/' target='_blank' title='Link opens in a new window') Library
                                                li: a(href='http://tnacufts.koha-ptfs.co.uk/CJDB/TNA/browse' target='_blank' title='Link opens in a new window') eLibrary

                                div.col-card-4
                                    div.card
                                        div.entry-content
                                            h2 Discovery, our catalogue
                                            p Discovery holds more than 32 million descriptions of records held by The National Archives and more than 2,500 archives across the country. Over 9 million records are available for download.
                                            a(href='http://discovery.nationalarchives.gov.uk/' role='button' target='_blank').button.half Search the catalogue

                div.row.spacing-bottom
                    div.col-md-12
                        div.shadow.background-image
                            div.overlay-container
                                div.overlay.text-right
                                    a(href='http://www.nationalarchives.gov.uk/about/visit-us/whats-on/events/' role='button' target='_blank').button.ghost Find out what's on at The National Archives

                div.row.spacing-bottom
                    div.col-md-12
                        div.cards
                            div.flex-row.equal-heights.last
                                div.col-card-6
                                    div.card
                                        div.entry-content
                                            p Found a problem with a document you have received in the reading rooms?
                                            a(href='https://www.nationalarchives.gov.uk/contact-us/document-condition-feedback/' role='button' target='_blank') Report a problem

                                div.col-card-6
                                    div.card
                                        div.entry-content
                                            p Want to contact us with any other queries and comments?
                                            a(href='http://www.nationalarchives.gov.uk/contact/' role='button' target='_blank') Contact us

                div.row.spacing-bottom
                    div.col-md-12
                        small The National Archives takes your privacy seriously and is committed to responsible handling of personal information. If you would like to know more, please click #[a(href="http://www.nationalarchives.gov.uk/legal/privacy-policy/") here]

        <!--[if lt IE 10]>
        script(src="js/js-library/jquery-1.9.0.min.js")
        script(src="js/ie.js")
        <![endif]-->

        script(src='js/js-library/webtrends.js')
            

    a(href='http://www.smartsurvey.co.uk/s/Your-views/?x=f' target='_blank').feedback
        span Feedback