doctype html
html(lang="en")
    head
        title Reading rooms

        meta(charset="utf-8")
        meta(http-equiv="X-UA-Compatible" content="IE=edge,chrome=1")
        meta(name="viewport", content="width=device-width", initial-scale="1")
        meta(name="description" content="TNA Toolkit")
        meta(name="author" content="The National Archives")

        link(rel="stylesheet" id="tna-google-fonts"
        href="https://fonts.googleapis.com/css?family=Open+Sans%3A400%2C700%2C400italic%2C700italic%7CBitter&#038;ver=4.4.14"
        type="text/css" media="all")
        link(rel="stylesheet" href="css/tna-base.css")
        link(rel="stylesheet" href="css/toolkit.css")
        link(rel="stylesheet" href="css/reading-rooms.css")

        <!--[if lt IE 9]>
        link(rel="stylesheet" type="text/css" href="css/ie.css")
        <![endif]-->

        <!--[if IE 8]>
        link(rel="stylesheet" type="text/css" href="css/ie8.css")
        <![endif]-->

        <!--[if IE 7]>
        link(rel="stylesheet" type="text/css" href="css/ie7.css")
        <![endif]-->

        link(rel="shortcut icon" type="image/vnd.microsoft.icon" href="img/favicon.ico")
        link(rel="icon" type="image/vnd.microsoft.icon" href="img/favicon.ico")

        <!--[if lt IE 10]>
        script(src="js/js-library/html5shiv.js")
        <![endif]-->

    body.hue-grey-lighter
        header.spacing-bottom
            div.container
                div.row#header
                    div.col-md-6
                        div.icon.icon-logo-tna
                    div.col-md-6.text-right
                        h1 Reading rooms

        main
            div.container
                div.row.spacing-bottom
                    div.col-md-12
                        div.shadow.hue-grey-light.content
                            div.entry-content.text-center
                                h2.center-inline.no-margin Unfamiliar with the archives?
                                a.button.no-margin(href="#", role="button") Start here

                div.row
                    div.col-md-12
                        div.cards
                            div.flex-row.equal-heights
                                div.col-card-4.left.ie
                                    div.card
                                        div.entry-content
                                            h2 Document ordering
                                            p With a reader's ticket you can order original documents to view in the reading rooms.
                                            ul.full
                                                li: a(href='reader-registration.html' onclick='dcsMultiTrack("DCS.dcsuri","/readers/","WT.ti","Do I need a readers ticket?","WT.cg_n","Readers homepage","WT.dl","0");' target='mainFrame') Do i need a reader's ticket?
                                                li: a(href='http://prologon.web.local/Entrance/default.asp' onclick='dcsMultiTrack("DCS.dcsuri","/readers/","WT.ti","Order documents","WT.cg_n","Readers homepage","WT.dl","0");' target='mainFrame') Order documents
                                                li: a(href='http://doris.web.local/currord/default.aspx' target='mainFrame' onclick='dcsMultiTrack("DCS.dcsuri","/readers/","WT.ti","Check current orders","WT.cg_n","Readers homepage","WT.dl","0");') Check current orders
                                                li: a() Reserve items for another day
                                                li: a() Order documents for next time

