---
name: Website Readers Screen Deployment

permissions:
  id-token: write
  contents: write

on:
  workflow_dispatch:
    inputs:
      release:
        type: string
        description: Release
        required: false
        default: ""
      account:
        type: choice
        description: AWS account
        required: true
        default: "dev"
        options:
          - dev
          - staging
          - live

jobs:
  deployment-run-dev:
    if: ${{ inputs.account  == 'dev' }}
    uses: nationalarchives/ds-github-actions/.github/workflows/website-static-content-deploy.yml@main
    with:
      base_role: "arn:aws:iam::846769538626:role/GithubOIDCProviderIAMRolePermissions-Role-I80RXHT6O1PL"
      playbook_role: "arn:aws:iam::846769538626:role/s-devops-ansible-amis"
      region: "eu-west-2"
      account: "${{ inputs.account }}"
      deploy-repo: "${{ github.event.repository.name }}"
      release: "${{ inputs.release }}"
      branch: "${{ inputs.branch }}"
      target-dir: "readers"

  deployment-run-staging:
    if: ${{ inputs.account  == 'staging' }}
    uses: nationalarchives/ds-github-actions/.github/workflows/website-static-content-deploy.yml@main
    with:
      base_role: "arn:aws:iam::337670467269:role/GitHubActionRole"
      playbook_role: "arn:aws:iam::337670467269:role/s-devops-ansible-amis"
      region: "eu-west-2"
      account: "${{ inputs.account }}"
      deploy-repo: "${{ github.event.repository.name }}"
      release: "${{ inputs.release }}"
      branch: "${{ inputs.branch }}"
      target-dir: "readers"

  deployment-run-live:
    if: ${{ inputs.account  == 'live' }}
    uses: nationalarchives/ds-github-actions/.github/workflows/website-static-content-deploy.yml@main
    with:
      base_role: "arn:aws:iam::968803923593:role/github-oidc-Role-1QSZDDE2NZQV0"
      playbook_role: "arn:aws:iam::968803923593:role/s-devops-ansible-amis"
      region: "eu-west-2"
      account: "${{ inputs.account }}"
      deploy-repo: "${{ github.event.repository.name }}"
      release: "${{ inputs.release }}"
      branch: "${{ inputs.branch }}"
      target-dir: "readers"
...
